.header {
  display: grid;
  grid-template-columns: 150px 1fr 225px;
  align-items: center;
  gap: 70px;
  padding: 15px 0;

  &__wrapper {
    background-color: white;
    z-index: 9999;
    height: var(--header-height);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    &.is-transparent {
      background-color: transparent;

      .header {
        a {
          color: white;
        }

        &__logo {
          background-image: url("../images/index/logo-white.svg");
        }

        &__button {
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
          color: var(--theme-primary-color);
          background-color: white;
        }

        &__nav {
          &__item {
            &:hover {
              opacity: 0.7;
              @include transition;
              a {
                color: white;
                @include transition;
              }
            }
          }
        }
      }
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../images/index/logo.svg");

    @include transition;
    &:hover {
      opacity: 0.7;
      @include transition;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &__item {
      a {
        @include transition;
      }

      &:hover {
        a {
          @include transition;
          color: var(--theme-primary-color);
        }
      }
    }
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__button {
    background-color: var(--theme-primary-color);
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    @include transition;
    &:hover {
      opacity: 0.7;
      @include transition;
    }
  }
}
