.portfolio-main {
  &__landing {
    &__wrapper {
      padding-top: var(--header-height);
      min-height: 100vh;
      display: flex;
      align-items: center;
    }

    &__content {
      display: flex;
    }

    &__title {
      font-size: clamp(2.75rem, 1.8906rem + 2.75vw, 3.4375rem);

      span {
        color: #727272;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 40px;

      p {
        font-size: clamp(1.125rem, 0.8125rem + 1vw, 1.375rem);
        line-height: 31.68px;
        letter-spacing: 0.004em;
        font-weight: 300;
      }
    }
  }

  &__cases {
    &__title {
      font-size: clamp(1.625rem, 0.8438rem + 2.5vw, 2.25rem);
    }

    &__header {
      margin-bottom: 115px;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
    }

    &__item {
      &__title {
        font-size: clamp(1.125rem, 0.6563rem + 1.5vw, 1.5rem);
      }

      &__image {
        height: 385px;
        width: 100%;
        position: relative;

        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .arrow {
          position: absolute;
          right: 25px;
          bottom: 25px;
          width: 60px;
          height: 60px;
          background-color: white;
          color: var(--theme-primary-color);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 26px;
          cursor: pointer;
          @include transition;
          &:hover {
            opacity: 0.7;
            @include transition;
          }
        }
      }
    }
  }
}
